$color-transition: #ff4d4d, #4d79ff, #ffff4d;

body{
  background: red;
  background: -webkit-linear-gradient(left, $color-transition);
  background: -o-linear-gradient(right, $color-transition);
  background: -moz-linear-gradient(right, $color-transition);
  background: linear-gradient(to right,$color-transition);
  background-repeat:no-repeat;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

.desc{
    background: skyblue;
    border-radius: 10px;
    border-style: solid;
    padding: 10px;
}

.container-fluid{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align:center;
  h1{
    font-size:60px;
    color:black;
  }
}

.container #demo{
  font-size:16px;
  font-family:Arial, Helvetica, sans-serif;
}